.typography .calendar {
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 1px;
}

.typography .calendar th {
	text-align: center;
	font-weight: 300;
	font-size:1em;
	color: #8e8f92;
	background: #e3e5e9;
	padding: 7px;
	border:0 none;
}

.typography .calendar td {
	color: #a9aaac;
	width: 14%;
	height:8.5em;
	vertical-align: top;
	padding:.1em .4em;
	line-height: 1.5em;
	text-align: right;
	font-weight: 300;
	font-size: .95em;
	border:0 none;
}

.typography .calendar td.odd {
	background: #f3f5f7;
}

.typography .calendar td.even {
	background: #fff;
}

.typography .calendar .holiday {
}

.typography .calendar .event {
	background-color: #5BB0E4;
	color: #fff;
	text-align:left;
	margin: 3px 0;
	padding: 0 4px;
	line-height: 1.4em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.typography .calendar .event a {
	color:#fff;
}